@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background: radial-gradient(circle at top, #1a1a2e, #0f0f1b);
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-x: hidden;
}

/* Скрыть только скролл-бар, но оставить возможность прокручивать */
::-webkit-scrollbar {
    display: none;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("https://sportishka.com/uploads/posts/2021-12/1638309513_37-sportishka-com-p-bodibilding-oboi-krasivie-foto-silovie-vid-39.jpg") no-repeat center center;
  background-size: cover;
  z-index: -2;
}

/* Затемнение */
#background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.6); /* 50% затемнения */
}

#main-screen, #workout-screen {
    padding: 30px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    padding: 12px 25px;
    margin: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    background: linear-gradient(45deg, #3a0ca3, #4361ee); /* Фиолетово-синий */
    color: white;
    box-shadow: 0px 4px 15px rgba(58, 12, 163, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 20px rgba(58, 12, 163, 0.8);
}

#progress-container {
    width: 80%;
    background: rgba(255, 255, 255, 0.1);
    height: 20px;
    border-radius: 15px;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 255, 255, 0.3);
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #3a0ca3, #4361ee);
    transition: width 0.5s ease-in-out;
}

.exercise-card {
    background: rgba(100, 100, 100, 0.7); /* Темновато-серый фон */  
    padding: 20px;
    margin: 15px auto;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 0.3s, background 0.3s;
}

.exercise-card.completed {
    background: rgba(60, 60, 60, 0.1);
    transform: scale(1.05);
    backdrop-filter: blur(10px);
}

.exercise-card.completed h3, 
.exercise-card.completed p {
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.exercise-card.completed .complete-btn {
    background: rgba(60, 60, 60, 0.1);
    cursor: not-allowed;
}

.exercise-card.completed .complete-btn:hover {
    background: rgba(60, 60, 60, 0.1);
    cursor: not-allowed;
    box-shadow: 0px 4px 15px rgba(58, 12, 163, 0.5);
    transform: scale(1.0);
}

.exercise-card .complete-btn {
    background: linear-gradient(45deg, #3a0ca3, #4361ee);
    transition: background 0.3s ease;
}

.exercise-card .complete-btn:hover {
    background: #3a0ca3;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
    max-width: 400px;
    margin: 20px auto;
}

.day {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.day:hover {
    transform: scale(1.2);
    background: rgba(255, 255, 255, 0.3);
}

.day.completed {
    background: linear-gradient(45deg, #00ff00, #00cc66);
    color: white;
}

.day.missed {
    background: linear-gradient(45deg, #ff0000, #cc0033);
    color: white;
}

/* ОКНО С ИМЕНЕМ */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-content {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.popup input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}

.popup button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

/* МОДАЛЬНОЕ ОКНО С СОВЕТАМИ */
/* Модальное окно */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95); /* Черный фон с полупрозрачностью */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Модальное окно */
.modal-content {
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: #fff;
    max-height: 80vh; /* Ограничиваем высоту модального окна */
    overflow-y: auto; /* Добавляем вертикальную прокрутку */
    transform: scale(1);
    animation: scaleIn 0.5s ease-in-out;
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
    } 
    to {
        transform: scale(1);
    }
}

/* Кнопка закрытия */
.close {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #3a0ca3;
    text-decoration: none;
}

/* Заголовок */
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

/* Блоки рекомендаций */
.recommendation-block {
   margin-bottom: 20px;
    padding: 15px;
    background: rgba(60, 60, 60, 0.5); /* Полупрозрачный темный фон */
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(58, 12, 163, 0.3);
}

.recommendation-block h3 {
    font-size: 20px;
    font-weight: bold;
    color: #4361ee;
    margin-bottom: 10px;
}

.recommendation-block p {
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
}

/* СОЦ СЕТИ */
.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.social-icon {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff; /* Вы можете поменять цвет по своему вкусу */
}

.social-icon.facebook:hover {
    color: #3b5998;
}

.social-icon.twitter:hover {
    color: #00acee;
}

.social-icon.instagram:hover {
    color: #e4405f;
}

.social-icon.linkedin:hover {
    color: #0077b5;
}

.hidden {
    display: none;
}

#user-name {
    color: #1E90FF; /* синий цвет в формате HEX */
}

#current-date  {
    color: #1E90FF; /* синий цвет в формате HEX */
}

/* Анимация старт кнопки */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Увеличиваем размер кнопки */
  }
  100% {
    transform: scale(1); /* Возвращаем к исходному размеру */
  }
}

#start-btn {
  animation: pulse 3s infinite; /* Применяем анимацию к кнопке */
}
